


.categories_Buttons {
    display: flex;
    gap: 100px;
    justify-content: center;
    
  }
  .min-Header{
  background-color: #0E395A;
  /* position: absolute; */
  padding-top:10px ;
  text-align: center;
  justify-content: center;
  }
  
  .categories_Buttons button {
    border: 1px solid transparent;
    border-color: #0E395A;
    padding: 5px 10px;
    background-color: #0E395A;
    text-decoration: none;
    color: white;
    position: relative;
    transition: text-decoration 0.3s;
  }
  
  .categories_Buttons button::after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
    background-color: white;
  }
  
  .categories_Buttons button:hover::after,
  .categories_Buttons button:focus::after {
    width: 50%;
    background: #DA9100;
    margin-right: 2rem;
  }
  
  .image-container {
    text-align: center;
    background-color: #0E395A;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  
  .image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    margin: 10px 0;
    padding: 10px 0;
    width: 60%
  }
  
  
  .image {
    width: 350px; 
    height: 350px; 
    margin: 10px; 
    border: 2px solid transparent;
    transition: border-color 0.3s;
    cursor: pointer;
  }
  
  
  .image:hover {
    border-color: gold;
  }
  
  