

.categories_Buttons {
    display: flex;
    gap: 100px;
    justify-content: center;
    row-gap: 10px;
    flex-wrap: wrap;
    
  }
  .min-Header{
    background-color: rgba(14, 57, 90, 0.6);
  padding-top:30px ;
  text-align: center;
  justify-content: center;
  }
  
  .categories_Buttons button {
    border: 1px solid transparent;
    background-color: transparent;
    padding: 5px 10px;
   
    text-decoration: none;
    color: white;
    position: relative;
    transition: text-decoration 0.3s;
    font-size: medium;
    cursor: pointer;
  }
  
  .categories_Buttons button::after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
    background-color: white;
    
  }
  
  .categories_Buttons button:hover::after,
  .categories_Buttons button:focus::after {
    width: 30%;
    background: #DA9100;
    margin-right: 2rem;
    cursor: pointer;
  }
  
  .image-container {
    text-align: center;
    background-color: rgba(14, 57, 90, 0.6);
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 77vh;
  }
  
  
  .image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    margin: 10px 0;
    padding: 10px 0;
    width: 60%
  }
  
  
  .image {
    width: 350px; 
    height: 350px; 
    margin: 10px; 
    border: 2px solid transparent;
    transition: border-color 0.3s;
    cursor: pointer;
  }
  
  
  .image:hover {
    border-color: gold;
  }
  
  header{
    width: 100%;
  }


  @media screen and (max-width:950){
    
    .image {
      width: 50%; 
      height: 150px; }

    
  }


  .hr{
    color: rgb(255, 255, 255);
    width: 80%;
  }

  .designs-main-component-div{
    align-items: center;
    justify-content: center;
  }
  .by-designs-owner-main{
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-bottom: 20px;
  }

  .image-logo-company-designs{
    margin-right: 10px;
  }

/* designs details styling */
.Designs-main-details-component-h{
  background-color: rgba(14, 57, 90, 0.6);
  min-height: 84vh;
  align-items: center;
  justify-content: center;

}
/* DesignsClient.css */
.image-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Default to a single column for small screens */
  grid-gap: 60px; /* Adjust the gap between items */
  max-width: 90%; /* Adjust as needed */
  margin: 20px auto;
}

/* Responsive styles for medium-sized screens (tablets) */
@media (min-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
     /* Two columns for medium screens */
  }
}

/* Responsive styles for large screens (desktops) */
@media (min-width: 992px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr); /* Three columns for large screens */
  }
}
/* Responsive styles for large screens (desktops) */
@media (max-width: 992px) {
  .image-grid {
    margin: 10%; /* Three columns for large screens */
  }
}

.grid-item {
  overflow: hidden; /* Ensure images don't overflow */
}

.single-image-design-details {
  width: 100%;
  height: auto;
  border-radius: 0 65px 0 65px;
  display: flex; /* Remove extra spacing below images */
}


.more-details-details{
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.title-category-name-details-main{
  font-size: 50px;
  color: white;
}
