.AHome-Container {
  background-color: rgba(14, 57, 90, 0.6);
  height: max-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.feedback-container-main {
  height: 105vh;
  display: flex;
  align-items: stretch;
}
.left-section {
  flex: 1;
  height: 500px;
  position: relative;
  top: 5%;
}

.right-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 42px;
  color: white;
  margin-top: -50px;
  padding-bottom: 60px;
}

.comment-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-text {
  margin: 110px 0;
  font-size: 1.15rem;
  font-weight: 600;
}

.input-box {
  height: 200px;
  width: 400px;
  max-width: 800px;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comment-button {
  height: 40px;
  width: 80px;
  color: white;
  font-size: 1.05rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.comment-container {
  max-width: 500px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  word-break: break-all;
}

.comments-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  justify-items: center;
  gap: 10px;
}

.pages-heighta {
  height: 80vh;
}

.page-header-home {
  height: 93vh;
  margin: 20px;
}

.comment-paragraph {
  font-size: 30px;
  width: 60%;
}

.main-container form {
  display: flex;
  justify-content: center;
  margin: 10%;
}

.paginationa {
  margin-left: -100px;
  margin: auto;
}

.pagination-container {
  margin: auto;
}

.div-width-card-feedback {
  padding-top: 10px;
  margin-top: 10px;
  width: 31%;
  display: flex;
  justify-content: center;
  word-break: break-all;
}
