.active {
    background-color: #0000; /* Replace with the actual color for the active menu item */
  }
  

  .sidebar-component-main{
    height: auto !important;
}
.activeClicked{
  background-color: goldenrod !important;
  color: white !important;
}

@media (max-width: 912px){
  .sidebar-component-main{
    height: 100vh;
    
  }
  
}
/* .App{
  height: 100vh;
} */