* {
    margin: 0;
}

.header-container {
    display: flex;
    flex-direction: row; 
    /* margin-left: 5%; */
    margin-top: 5%;
}

.header-rectangle {
    width: 580px;
    height: 455px;
    background: #FFFFFF;
    opacity: 0.7; 
    margin-top: 50px;
    z-index: 2;
    position: relative;
}

.header-text-rectangle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    color: #0E395A;
    margin-left: 10%;
    margin-top: 70px;
}

.header-text2-rectangle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #0E395A;
    margin-left: 10%;
    margin-top: 20px;
}

.header-image {
    width: 988px;
    height: 655px;
    z-index: 1;
    left: 25%;
    position: absolute;
}

@media only screen and (max-width: 990px) {
    .header-container {
        flex-direction: column;
        margin-left: 0%;
        margin-top: 0%;

    }

    .header-image {
        position: static;
        width: 100%;
        height: 300px;
    }

    .header-rectangle {
        width: 100%;
        height: 200px;
        margin-top: 0%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
    .header-continer{
    margin-top: 0%;
}

    .header-rectangle {
        width: 100%;
        height: 300px;
    }

    .header-image {
        height: 500px;
    }
}

@media (max-width: 768px) {
    .header-text-rectangle {
        font-size: 40px;
        line-height: 50px;
        margin-top: 30px;
    }

    .header-text2-rectangle {
        font-size: 18px;
        line-height: 20px;
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    .header-text-rectangle {
        font-size: 30px;
        line-height: 40px;
        margin-left: 5%;
        margin-top: 20px;
    }

    .header-text2-rectangle {
        font-size: 16px;
        line-height: 18px;
        margin-left: 5%;
        margin-top: 10px;
    }
}
@media only screen and (min-width: 991px) and (max-width: 1320px) {
    .header-image {
        width:670px;
        height: 550px;
        }

}
