/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: #0E395A;
} */
@font-face {
  font-family: bold;
  src: url(./Photos/static/Teko-Bold.ttf);
}
@font-face {
  font-family: medium;
  src: url(./Photos/Acme-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: medium;

}
body {
  overflow-x: hidden;
}
/* .pages {
    background-color: #0E395A;
} */
.App {
  display: flex;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}
.table-main-component-new {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 9.9%;
  justify-self: center;
  width: 100vw;
  flex-wrap: wrap;
  background-image: url('./Photos//bg.png');
  height: auto;
}
