/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: #0E395A;
} */
* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
/* .pages {
    background-color: #0E395A;
} */
.App {
  display: flex;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}
.table-main-component-new {
  align-items: center;
  justify-content: center;
  margin: auto;
  justify-self: center;
  width: 100vw;
  flex-wrap: wrap;
  background-image: url("./Photos//bg.png");
  height: 100vh;
}
