.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4rem;
  font-family: inter;
  margin-left: 5rem;
  padding: 2rem;
}
.card-wrapper {
  margin: 10px 20px;
}

.card-wrapper,
.card {
  width: 50rem;
  height: 40rem;
  padding-top: 3rem;
}

.card h2 {
  margin: 5px 0;
  text-align: center;
  color: #fff;
}

.card .front {
  background-color: #082235;
  border: 1px solid #d9d9d9;
}

body {
  background-color: #f1f1f1;
  font-family: Inter, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
}

.card-wrapper {
  display: inline-block;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.card-wrapper .card {
  position: relative;
  cursor: pointer;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition-delay: 1s;
}
.card-wrapper .card .front,
.card-wrapper .card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.card-wrapper .card .front {
  z-index: 2;
}
.card-wrapper .card .back,
.card-wrapper.flip-right .card .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card-wrapper:hover .card,
.card-wrapper.flip-right:hover .card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  transition-delay: 0.5s;
}
.card-wrapper.flip-left .card .back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.front {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.card-Logo {
  width: auto;
  padding-top: 0.5rem;
  max-height: 15rem;
}

.Info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 2.2rem;
  color: #da9100;
}
.Info h3 {
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  padding-left: 2rem;
}

.Info2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 2.2rem;
  color: #da9100;
}
.Info2 h3 {
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  padding-left: 2rem;
}

.Icon1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  flex-shrink: 0;
  padding-left: 2rem;
}

.Icon2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  flex-shrink: 0;
  padding-left: 2rem;
}

.CompanyText {
  display: flex;
  background-color: #ffffff34;
  border-radius: 33px;
  padding: 4px;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 960px) {
  .Info h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .Info2 h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .Icon1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin-right: 10rem;
  }
  .card-Logo {
    display: flex;
    margin-right: 5rem;
    width: 45%;
  }
}


